body {
    margin : 0px ;
    text-align: center;
}

.Top {
    background-color: #EAF6F6;
    height: 550px;
    width: 1350px;
    margin: 0px;
    padding: 100px 20px 20px 20px ;
}

.Middle {
    background-color: whitesmoke;
    height: 1600px;
    width: 1350px;
    padding: 40px 20px 20px 20px;
}

.Bottom {
    background-color: #66BFBF;
    height: 200px;
    width : 1350px ;
    margin : 0px ;
    padding : 30px 0px 0px 0px;
}



.Tcloud {
    position :absolute ;
    left : 860px ;
    top : 120px ;
}

.Bcloud {
    position : absolute ;
    top : 300px ;
    left : 380px ;

}

.lol {
    font-size: 60px;;
    COLOR : #66BfBF;
    position: relative;
    top : 25px ;
    left : -22px ;
    font-family: 'Dancing Script', cursive;
}

.lolo {
    font-size: 25px;;
    COLOR : #66BfBF;
    position: relative; 
    top : 15px;
    left : -32px ;
    font-family: 'Tilt Prism', cursive;
}

hr {
    border-style: dotted none none;
    border-color: rgb(150, 149, 149);
    border-width: 10px;
    width: 15%;
    position : relative ;
    top : 40px; 
}

.lop {
    color : #66BFBF ;
    font-size: 40px;    
}



.op {
    color : #40514E;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;;
}    

.loop {
    color : #66BFBF ;
    font-size: 60px;
    position: relative;
    top : 50px ;
}

.ki {
    position : relative ;
    right : 300px ;
    bottom : 75px;
}

h3 {
    position : relative;
    top : 0px;
    left : 25px ;
    color : #66BFBF ;
    font-size: 27px;
    bottom : 20px;
    font-family: 'Montserrat', sans-serif;

}

.ret {
    position: relative ;
    bottom : 230px;
    left : 45px ;
    font-size: 20px;
}

.phot {
    position : relative;
    left : -100px ;
    top : -140px;
    font-size: 27px;

    font-family: 'Montserrat', sans-serif;

}

.camera {
    position : relative ;
    bottom : 200px ;
    left : 300px ;
    border-radius: 50%;
}

.photoo {
    position: relative ;
    top : -400px;
    left : -110px ;
    font-size: 20px;
}

.button {
    position: relative;
    top : 10px ;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    background-color: #2dd4d4;
    font-size: 18px;
    border-radius: 12px;
    padding : 5px 10px 5px 10px;
}

.line {
    border-style: dotted none none;
    border-color: rgb(150, 149, 149);
    border-width: 10px;
    width: 15%;
    position : relative ;
    top : -300px; 
}

h1 {
    position: relative;
    color :#2dd4d4;
    bottom : 280px ;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
}

.outro {
    position: relative;
    bottom : 320px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    
}
.mo {
    text-decoration: underline;
    color : rgb(180, 23, 23);
}

.button {
    position: relative;
    background-color: #2dd4d4;
    top : 20px ;
    font-size: 25px;
}

.juju {
    display : inline ;
}

.buttonn {
    position: relative;
    background-color: #2dd4d4;
    top : -250px ;
    font-size: 25px;
    border-radius: 20px;
}